<div class="row">
  <div class="col-sm-12">
    <%= render 'tabs', user: @user, count_animes: @count_animes, count_reviews: @count_reviews %>
    <%= render 'animes/animes', animes: @animes %>
  </div>
</div>
