<div class="row">
  <div class="col-sm-12">
    <%= render 'tabs', user: @user, count_animes: @count_animes, count_reviews: @count_reviews %>
    <%= render 'reviews/reviews', reviews: @reviews %>
  </div>
</div>